apiVersion: apps/v1
kind: Deployment
metadata:
  name: api_gateway
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: api_gateway
    spec:
      containers:
        - image: "yamurillo/api_gateway"
          imagePullPolicy: Always
          name: api_gateway
          ports:
            - containerPort: 80


